<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<title></title>
	</head>
	<body>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">BCA Marketplace</a>
				</div>
				
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/profile">My Profile</a></li>
						<li><a href="/catalog">The BCA Catalog</a></li>
						<li class="active"><a href="/sellsomething">Sell Something</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
		<h1>{{item.title}}</h1>
		<h3 style="text-align: center">Enter Purchase Details</h3>
	</div>
	<br>
	<br>
	<br>
	<div class="container" style="text-align: center">
		<form action="/checkout" method="POST" role="form">
			<div class="form-group">
				<input type="hidden" class="form-control" id="" value={{item._id}} name="itemId">
				<input type="text" class="form-control" id="" placeholder="Price you want to pay" name="price">
				<br>
				<br>
				<br>
				<input type="text" class="form-control" id="" placeholder="Any other comments" name="comments">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
</html>