<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<title></title>
	</head>
	<body>
		<img src="http://img.enkivillage.com/s/upload/images/2014/11/7aaace0f44fe1ecf06be692d148b4959.jpg" style="z-index: -1; position: fixed; width: 100%; left: 0em; top: -3em; opacity: .2">
		<div class="row card card-shadow" style="box-shadow: 0px 0px 20px black; background-color: white; text-align: center; width: 50%; position: relative; left: 25em; top: 15em">
			<form action="/login" method="POST" role="form">
				<h2>{{message}}</h2>
				<legend>Log In With Your Credentials</legend>
				<div class="form-group" style="width: 30%; text-align: center">
					<input type="text" class="form-control" id="" placeholder="Username" name="username" style="">
					<br>
					<br>
					<br>
					<input type="password" class="form-control" id="" placeholder="Password" name="password">
				</div>
				<button type="submit" class="btn btn-primary">Log In</button>
			</form>
			<a href="newaccount">Don't have account? Create one</a>
		</div>
		<br>
		<br>
		<br>
	</body>
</html>